* {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  color: rgba(255, 255, 255, 0.66);
}

.container {
  width: 100%;
  height: 100%;
  margin: 0px auto 0px auto;
  text-align: center;
  padding: 0px 0px 0px 0px;
}

h1 { 
  font-size: 2rem; 
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}

a { 
  text-decoration: none; 
  font-style: italic; 
  color: white; 
  font-weight: normal;
}

/* Game controls */

#welcome, #message, #controls {
  margin: 50px 0px 50px 0px;
}

#message #gameover:empty { visibilty: hidden; }
#message #reasons:empty { visibilty: hidden; }

#message #gameover {
  font-size: 5rem;
  color: #9a001a;
  background: rgba(255, 255, 255, 0.5);
  text-align: center
}

#message #reasons {
  background: rgba(255, 255, 255, 0.5);
  font-size: 2rem;
  color: white;
  text-align: center;
}

#controls #level:empty { visibility: hidden; }
#controls #points:empty { visibility: hidden; }

#welcome #start, #controls #points, #controls #level {
  padding: 5px 20px 5px 20px;
  font-style: normal;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  background: rgba(255, 255, 255, 0.5);
  border: 3px solid white;
  border-radius: 5px;
}

/* Spielbrett */
body {
  height:100%;
  background-color:#222222;
  //background-image: url('img/space.jpg');
  background-position: top left;
  margin: 0px;
  padding: 0px;
}

#snakegame {
  margin: 5px auto 5px auto;
}

table{
  border-collapse:collapse;
  background: rgba(0, 0, 0, 0.4);
  background-image:url('img/starfield2.png');
  border:1px solid white;
  
}

#scrollbg{
  border-collapse:collapse;
  background-image:url('img/starfield.png');
  background-position-x:55px;
  border:0px solid green;
  margin:auto;
  padding:auto;
  max-width:640px;
  max-height:640px;

  
}

#main_background{
  border-collapse:collapse;
  background-image:url('img/space.jpg');
  background-position-x:0px;
  border:0px solid green;
  margin:auto;
  padding:auto;
  max-width:640px;
  max-height:640px;

  
}

#snakegame table{
  
  border-collapse:collapse;
  border:1px solid white;
  margin:0px;
  padding:0px;
  background-image:url('img/starfield2.png');
  background-position-x:0px;
  

}
#snakegame td {
  
  margin:0px;
  padding:0px;
  width: 8px;
  height: 8px;
  //background: rgba(255, 255, 255, 0.1);
}





.ffisch00 {
  background-image: url('img/ffisch/fisch00.png');

}

.ffisch01 {
  background-image: url('img/ffisch/fisch01.png');

}

.ffisch02 {
  background-image: url('img/ffisch/fisch02.png');

}

.ffisch10 {
  background-image: url('img/ffisch/fisch10.png');

}

.ffisch11 {
  background-image: url('img/ffisch/fisch11.png');

}
.ffisch12 {
  background-image: url('img/ffisch/fisch12.png');

}

.ffisch20{
  background-image: url('img/ffisch/fisch20.png');

}
.ffisch21{
  background-image: url('img/ffisch/fisch21.png');

}

.ffisch22 {
  background-image: url('img/ffisch/fisch22.png');

}

.ffisch30{
  background-image: url('img/ffisch/fisch30.png');

}
.ffisch31{
  background-image: url('img/ffisch/fisch31.png');

}

.ffisch32 {
  background-image: url('img/ffisch/fisch32.png');

}


.protectling {
  background-color: green !important;
  
}

.protectling00 {
  background-color: green !important;
  
}

.protectling01 {
  background-color: green !important;
  
}

.projectile00 {
  background-image: url('img/bullet.gif');
  //background-color: blue !important;

  
  background-position: left top;
}

.enemy00 {
  background-image: url('img/enemy/enemy00.png');
}

.enemy01 {
  background-image: url('img/enemy/enemy10.png');
}

.enemy02 {
  background-image: url('img/enemy/enemy20.png');
}

.enemy10 {
  background-image: url('img/enemy/enemy01.png');
}

.enemy11 {
  background-image: url('img/enemy/enemy11.png');
}

.enemy12 {
  background-image: url('img/enemy/enemy21.png');
}

.enemy20 {
  background-image: url('img/enemy/enemy02.png');
}

.enemy21 {
  background-image: url('img/enemy/enemy12.png');
}

.enemy22 {
  background-image: url('img/enemy/enemy22.png');
}